wsdl/wing.nus.wsdl

<?xml version="1.0" encoding="UTF-8"?>

  <wsdl:definitions name="ForeCite" 
    xmlns:tns="urn:ForeCite"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- MESSAGES : The messages used by the web service -->
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <wsdl:message name="extract_citations_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_citations_response">
    <wsdl:part name="citations" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="extract_header_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_header_response">
    <wsdl:part name="header" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="extract_meta_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_meta_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="extract_kp_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_kp_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>


  <!-- PORTTYPES : The operations performed by the web service -->
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <wsdl:portType name="ForeCitePortType">
    <wsdl:operation name="extract_citations">
      <wsdl:documentation>
        Extracting and parsing citations from a text file representing a scholarly article
      </wsdl:documentation>
      <wsdl:input message="extract_citations_request"/>
      <wsdl:output message="extract_citations_response"/>
    </wsdl:operation>
    <wsdl:operation name="extract_header">
      <wsdl:documentation>
        Extracting and parsing the meta (first page) from a text file representing a scholarly article
      </wsdl:documentation>
      <wsdl:input message="extract_header_request"/>
      <wsdl:output message="extract_header_response"/>
    </wsdl:operation>
    <wsdl:operation name="extract_meta">
      <wsdl:documentation>
        Extracting and parsing all metadata (header, citations) from a text file 
        representing a scholarly article
      </wsdl:documentation>
      <wsdl:input message="extract_meta_request"/>
      <wsdl:output message="extract_meta_response"/>
    </wsdl:operation>
    <wsdl:operation name="extract_kp">
      <wsdl:documentation>
        Extracting keyphrases from a scholarly article
      </wsdl:documentation>
      <wsdl:input message="extract_kp_request"/>
      <wsdl:output message="extract_kp_response"/>
    </wsdl:operation>


  </wsdl:portType>
  
  <!-- BINDINGS : The communication protocols used by the web service -->
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <wsdl:binding name="ForeCiteBinding" type="ForeCitePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="extract_citations">
      <soap:operation style="rpc" soapAction="extract_citations"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract_header">
      <soap:operation style="rpc" soapAction="extract_header"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract_meta">
      <soap:operation style="rpc" soapAction="extract_meta"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract_kp">
      <soap:operation style="rpc" soapAction="extract_kp"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>


  </wsdl:binding>

  <!-- SERVICE : The service name -->
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <wsdl:service name="ForeCite">
    <wsdl:documentation>
      Web Services for the ForeCite Project at School of Computing, NUS.  Hosted by Web IR / NLP Group (WING)
    </wsdl:documentation>
    <wsdl:port name="ForeCitePort" binding="ForeCiteBinding">
      <soap:address location="http://wing.comp.nus.edu.sg:4000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
