doc/forecite.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Added by Min Sat Jul 18 15:19:58 SGT 2009 -->
  <wsdl:definitions name="ForeCite" 
    xmlns:tns="urn:ForeCite"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="urn:ForeCite">

  <!-- MESSAGES : The messages used by the web service -->
  <wsdl:message name="extract_citations_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_citations_response">
    <wsdl:part name="citations" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_header_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_header_response">
    <wsdl:part name="header" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_meta_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_meta_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="arg_zone_postagged_file_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="arg_zone_postagged_file_response">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="extract_text_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_text_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_html_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="extract_html_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="tag_delimited_sentence_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="tag_delimited_sentence_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="tag_delimited_file_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="tag_delimited_file_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="delimit_file_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="delimit_file_response">
    <wsdl:part name="metadata" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="classify_websites_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
    <wsdl:part name="lexicon" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="classify_websites_response">
    <wsdl:part name="classification" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="segment_urls_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="segment_urls_response">
    <wsdl:part name="segments" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="cws_gb_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="cws_gb_response">
    <wsdl:part name="segmented_text" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="cws_utf8_request">
    <wsdl:part name="uri_or_path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="cws_utf8_response">
    <wsdl:part name="segmented_text" type="xsd:string"/>
  </wsdl:message>
  
  <!-- PORTTYPES : The operations performed by the web service -->
  <wsdl:portType name="ForeCitePortType">
    <wsdl:operation name="extract_citations">
      <wsdl:documentation>
        Extracting and parsing citations from a text file representing a scholarly article
      </wsdl:documentation>
      <wsdl:input message="tns:extract_citations_request"/>
      <wsdl:output message="tns:extract_citations_response"/>
    </wsdl:operation>
    <wsdl:operation name="extract_header">
      <wsdl:documentation>
        Extracting and parsing the meta (first page) from a text file representing a scholarly article
      </wsdl:documentation>
      <wsdl:input message="tns:extract_header_request"/>
      <wsdl:output message="tns:extract_header_response"/>
    </wsdl:operation>
    <wsdl:operation name="extract_meta">
      <wsdl:documentation>
        Extracting and parsing all metadata (header, citations) from a text file 
        representing a scholarly article
      </wsdl:documentation>
      <wsdl:input message="tns:extract_meta_request"/>
      <wsdl:output message="tns:extract_meta_response"/>
    </wsdl:operation>

    <wsdl:operation name="arg_zone_postagged_file">
      <wsdl:documentation>
        Argumentative Zones a Part-Of-Speech Tagged file 
      </wsdl:documentation>
      <wsdl:input message="tns:arg_zone_postagged_file_request"/>
      <wsdl:output message="tns:arg_zone_postagged_file_response"/>
    </wsdl:operation>

    <wsdl:operation name="extract_text">
      <wsdl:documentation>
        Extracts plain text from a PDF file
      </wsdl:documentation>
      <wsdl:input message="tns:extract_text_request"/>
      <wsdl:output message="tns:extract_text_response"/>
    </wsdl:operation>
    <wsdl:operation name="extract_html">
      <wsdl:documentation>
        Extracts the text from a PDF file into HTML format
      </wsdl:documentation>
      <wsdl:input message="tns:extract_html_request"/>
      <wsdl:output message="tns:extract_html_response"/>
    </wsdl:operation>

    <wsdl:operation name="tag_delimited_sentence">
      <wsdl:documentation>
        Extracts plain text from a PDF file
      </wsdl:documentation>
      <wsdl:input message="tns:tag_delimited_sentence_request"/>
      <wsdl:output message="tns:tag_delimited_sentence_response"/>
    </wsdl:operation>
    <wsdl:operation name="tag_delimited_file">
      <wsdl:documentation>
        Extracts plain text from a PDF file
      </wsdl:documentation>
      <wsdl:input message="tns:tag_delimited_file_request"/>
      <wsdl:output message="tns:tag_delimited_file_response"/>
    </wsdl:operation>
    <wsdl:operation name="delimit_file">
      <wsdl:documentation>
        Extracts plain text from a PDF file
      </wsdl:documentation>
      <wsdl:input message="tns:delimit_file_request"/>
      <wsdl:output message="tns:delimit_file_response"/>
    </wsdl:operation>

    <wsdl:operation name="classify_websites">
      <wsdl:documentation>
        Classifies URLs of websites to a category hierarchy
      </wsdl:documentation>
      <wsdl:input message="tns:classify_websites_request"/>
      <wsdl:output message="tns:classify_websites_response"/>
    </wsdl:operation>
    <wsdl:operation name="segment_urls">
      <wsdl:documentation>
        Segments URL components into word chunks
      </wsdl:documentation>
      <wsdl:input message="tns:segment_urls_request"/>
      <wsdl:output message="tns:segment_urls_response"/>
    </wsdl:operation>

    <wsdl:operation name="cws_gb">
      <wsdl:documentation>
        Word segments an input Chinese text file in GuoBiao encoding
      </wsdl:documentation>
      <wsdl:input message="tns:cws_gb_request"/>
      <wsdl:output message="tns:cws_gb_response"/>
    </wsdl:operation>
    <wsdl:operation name="cws_utf8">
      <wsdl:documentation>
        Word segments an input Chinese text file in UTF-8 encoding
      </wsdl:documentation>
      <wsdl:input message="tns:cws_utf8_request"/>
      <wsdl:output message="tns:cws_utf8_response"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- BINDINGS : The communication protocols used by the web service -->
  <wsdl:binding name="ForeCiteBinding" type="tns:ForeCitePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="extract_citations">
      <soap:operation style="rpc" soapAction="extract_citations"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract_header">
      <soap:operation style="rpc" soapAction="extract_header"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract_meta">
      <soap:operation style="rpc" soapAction="extract_meta"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="arg_zone_postagged_file">
      <soap:operation style="rpc" soapAction="arg_zone_postagged_file"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="extract_text">
      <soap:operation style="rpc" soapAction="extract_text"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract_html">
      <soap:operation style="rpc" soapAction="extract_html"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="tag_delimited_sentence">
      <soap:operation style="rpc" soapAction="tag_delimited_sentence"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tag_delimited_file">
      <soap:operation style="rpc" soapAction="tag_delimited_file"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delimit_file">
      <soap:operation style="rpc" soapAction="delimit_file"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="classify_websites">
      <soap:operation style="rpc" soapAction="classify_websites"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="segment_urls">
      <soap:operation style="rpc" soapAction="segment_urls"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="cws_gb">
      <soap:operation style="rpc" soapAction="cws_gb"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cws_utf8">
      <soap:operation style="rpc" soapAction="cws_utf8"/>
      <wsdl:input> <soap:body use="literal" namespace="urn:ForeCite"
                              encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output> <soap:body use="literal" namespace="urn:ForeCite"
                               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- SERVICE : The service name -->
  <wsdl:service name="ForeCite">
    <wsdl:documentation>
      Web Services for the ForeCite Project at School of Computing, NUS.  Hosted by Web IR / NLP Group (WING)
    </wsdl:documentation>
    <wsdl:port name="ForeCitePort" binding="tns:ForeCiteBinding">
<!-- soap:address location="http://wing.comp.nus.edu.sg:10570/"/  -->
      <soap:address location="http://wing.comp.nus.edu.sg:4000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>